<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Crawled Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <style>
      header { background-color: #343a40; color: white; padding: 10px 0; }

      th { text-align: center; }

      td { vertical-align: middle !important; }

      .header-title { margin: 0;font-size: 30px;font-weight: bold;text-align: center; }

      .header-subtitle { margin: 0; font-size: 20px; text-align: center; }

      .table-container { height: 500px; overflow-y: scroll; }

      .form-group label {font-weight: bold;color: #343a40;margin-right: 10px; }

      .form-group input[type=range]::-webkit-slider-thumb {-webkit-appearance: none;appearance: none;width: 20px;height: 20px;background-color: #343a40;border-radius: 50%ursor: pointer; }

      .form-group input[type=range]::-moz-range-thumb {width: 20px;height: 20px;background-color: #343a40;border-radius: 50%;cursor: pointer; }

      .form-group input[type=range]::-ms-thumb {width: 20px;height: 20px;background-color: #343a40;border-radius: 50%;cursor: pointer; }

      /* Custom styles for table */
      .table-bordered {border-color: #ccc; }

      .table-bordered thead th {background-color: #f0f0f0;border-color: #ccc; }

      .table-bordered tbody td {background-color: #fff;border-color: #ccc; }

      .table-bordered tbody td a {color: #343a40;font-weight: bold; }

      .table-bordered tbody td a:hover {text-decoration: none;color: #343a40; }

      .text-center { text-align: center; }

      .htwk-info table { border-collapse: collapse;width: 100%; }

      .htwk-info th, .htwk-info td { text-align: left;padding: 8px; }

      .htwk-info tr:nth-child(even) { background-color: #f2f2f2; }

      .htwk-info th { background-color: #4CAF50;color: white; }

      .htwk-label { font-size: 24px;color: #333;text-align: center;margin-bottom: 20px; }

      .setting-wrapper { margin:30px; }
    </style>

    <script>
      $(document).ready(function() {
        var   title     = [],
              year      = [],
              rating    = [],
              link      = [],
              thumbnail = [];

        $('.js-number-selector').on('change', function(e) {
          $('.js-data-wrapper').empty();

          $('#num-label').text(e.target.value);

          fetch('/update-list', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(e.target.value)
          })
          .then(response => response.json())
          .then(data => {
            data.forEach(function(item) {
              title.push(item.title);
              year.push(item.year);
              rating.push(item.rating);
              link.push(item.link);
              thumbnail.push(item.thumbnail);
            });

            for (let i = 0; i < title.length; i++) {
                var tbody         = $('.js-data-wrapper').closest('tbody'),
                    newRow        = $('<tr>', {'class': 'text-center js-data-wrapper'}),
                    newImgCell    = $('<td>', {'class': 'js-img'}),
                    newTitleCell  = $('<td>', {'class': 'js-title'}),
                    newYearCell   = $('<td>', {'class': 'js-year'}),
                    newRatingCell = $('<td>', {'class': 'js-rating'}),
                    newLinkCell   = $('<td>', {'class': 'js-link'});

                // Add content to the new cell elements
                newImgCell.append($('<img>', {'src': thumbnail[i], 'alt': 'Image description', 'class': 'img-thumbnail'}));
                newTitleCell.text(title[i]);
                newYearCell.text(year[i]);
                newRatingCell.text(rating[i]);
                newLinkCell.append($('<a>', {'href': link[i], 'target': '_blank'}).text(link[i]));

                // Add the new cell elements to the new row
                newRow.append(newImgCell, newTitleCell, newYearCell, newRatingCell, newLinkCell);

                // Add the new row to the tbody
                tbody.append(newRow);
              }
              title.length     = 0;
              year.length      = 0;
              rating.length    = 0;
              link.length      = 0;
              thumbnail.length = 0;
          })
          .catch(error => {
            console.error('Error:', error);
          });
        });
      });
    </script>
  </head>
  <body>
    <header>
      <h1 class="header-title">Crawled Data</h1>
      <p class="header-subtitle">My Movies</p>
    </header>
    <div class="container">
      <div class="row">
        <form class="form-inline text-center">
          <div class="d-flex align-items-center">
            <div class="form-group js-number-selector number-selector">
              <label for="num">Movies to display</label>
              <input type="range" min="0" max="100" class="form-control-range large-range" id="num" name="num" value="2">
              <span id="num-label">2</span>
            </div>
          </div>
        </form>
      </div>
      <div class="table-container">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Thumbnail</th>
              <th>Title</th>
              <th>Year</th>
              <th>Rating</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            <% @movies.each_with_index do |movie, index| %>
              <tr class="text-center js-data-wrapper">
                <td class="js-img" id="img-<%= index %>"><img src="<%= movie[:thumbnail] %>" alt="<%= movie[:title] %>" class="img-thumbnail"></td>
                <td class="js-title" id="title-<%= index %>"><%= movie[:title] %></td>
                <td class="js-year" id="year-<%= index %>"><%= movie[:year] %></td>
                <td class="js-rating" id="rating-<%= index %>"><%= movie[:rating] %></td>
                <td class="js-link" id="link-<%= index %>"><%= "<a href='#{movie[:link]}' target='_blank'>#{movie[:link]}</a>" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="htwk-info">
        <h2 class="htwk-label"><%= @semeter_infos %></h2>
        <table>
          <% @htwk_infos.each do |key, value| %>
            <tr>
              <td><%= key %></td>
              <td><%= value %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </body>
</html>
